bin/*
obj/*
cpy/*
*.cbp
*.depend
*.layout
*.xcodeproj/**
.cproject
.dep.inc
.settings/*
.project
/Debug/
/dist/*
/nbproject/*
/Release/
*/curses.h
*/panel.h
*.lvl
*.lvl.*
*/world.info
worlds/*
Underneath
*.opensdf
*.sdf
*.sln
*.suo
createBuild.bat
createBuild.command
createBuild.sh
compile.sh
*.*~
*.o
core
settings.txt
UnderneathSolution/*
*.lib
mingw_dev_lib/*
*.pyc
*.cproj
*.userprefs
app/*
.gradle/*
.idea/*
local.properties
build/*
/src/ArtFiles.hpp
windowsTesting/
/src/thread.h
.tags
.tags1

Underneath.iml
