/bin/**
/obj/**
*.dll
*.cbp
*.depend
*.layout
*.xcodeproj/**
.cproject
.dep.inc
.settings/*
.project
/Debug/
/build/*
/dist/*
/nbproject/*
Makefile
/Release/
*/curses.h
*/panel.h
*.lvl
*/world.info
Underneath